@model BrewArea.COM.RecipeIndexViewModel

@{
    ViewBag.Title = "Delete Recipe";
}

<h2>Delete Recipe</h2>>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Recipe Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>

        <dt>
            Beer Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerType)
        </dd>

        <dt>
            Beer Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerDesc)
        </dd>

        <dt>
            Procedure
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerMake)
        </dd>

        <dt>
            Posted By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerNick)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Delete", "DeleteWithId", new { id = Model.RecipeId }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
