@model BrewArea.COM.RecipeIndexViewModel

@{
    ViewBag.Title = "Recipe Detail";
}

<h2>Recipe Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Recipe Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>

        <dt>
            Beer Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerType)
        </dd>

        <dt>
            Beer Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerDesc)
        </dd>

        <dt>
            Posted By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerNick)
        </dd>

        <dt>
            Procedure
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerMake)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Ingredient Name
        </th>
        <th>
            Item Amount
        </th>
        <th>
            Measurement Type
        </th>
    </tr>
    @foreach (var item in Model.Ingredients)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasurementType)
        </td>
    </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) |
    @Html.ActionLink("Back to List", "Index") |

    @if (ViewBag.IsPending)
    {        
        @Html.ActionLink("Make Global", "MakeGlobal", new { id = Model.RecipeId }) 
    }
</p>