@model IEnumerable<BrewArea.COM.RecipeIndexViewModel>

@{
    ViewBag.Title = "Homa Page";
}

<h2>Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Recipe Name
        </th>
        <th>
            Beer Type
        </th>
        <th>
            Beer Description
        </th>
        <th>
            Procedure
        </th>
        <th>
            Posted By
        </th>
        <th>
            Ingredients
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerNick)
        </td>
        <td>
            @if (item.Ingredients.Count < 5)
            {
                for (int i = 0; i < item.Ingredients.Count; i++)
                {
                    @Html.DisplayFor(modelItem => item.Ingredients[i].IngredientName)
                    <br>
                }
            }
            @if (item.Ingredients.Count >= 5)
            {
                for (int i = 0; i < 5; i++)
                {

                    @Html.DisplayFor(modelItem => item.Ingredients[i].IngredientName)
                    <br>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RecipeId }) |
            @Html.ActionLink("Details", "Details", new {  id=item.RecipeId }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.RecipeId })
        </td>
    </tr>
}

</table>
